version: "3"

services:
  gptapp:
    build:
      context: ./gpt-app
      dockerfile: ./Dockerfile_local
    ports:
      - "8080:8080"
    volumes:
      - ./gpt-app:/go/src/app
    environment:
      - "SLACK_BOT_TOKEN=xoxb-xxxxxxxxxxxx-xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx"
      - "OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx"
      - "PROJECT_ID=emulator"
      - "PUBSUB_EMULATOR_HOST=pubsub_emulator:8085"
      - "PORT=8080"
    tty: true
    command: go run main.go
    depends_on:
      - pubsub_emulator
  pubsubapp:
    build:
      context: ./pubsub-app
      dockerfile: ./Dockerfile_local
    ports:
      - "8081:8081"
    volumes:
      - ./pubsub-app/:/go/src/app
    environment:
      - "PROJECT_ID=emulator"
      - "PUBSUB_TOPIC=chatgpt-bot-topic"
      - "PUBSUB_EMULATOR_HOST=pubsub_emulator:8085"
      - "PORT=8081"
    tty: true
    command: go run main.go
    depends_on:
      - pubsub_emulator
  pubsub_emulator:
    build:
      context: ./pubsub-emulator
      dockerfile: ./Dockerfile
    restart: always
    environment:
      - PROJECT_ID=emulator
      - TOPIC_ID=chatgpt-bot-topic
      - SUBSCRIPTION_ID=chatgpt-bot-subscription
      - PUSH_ENDPOINT=http://host.docker.internal:8080/
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - 8085:8085
